- 대응분석 : 자료의 행과 열범주를 저차원 공간상(2 차원)의 점들로 동시에 나타내어, 그들의 관계를 탐구하려는 탐색적 자료 분석 기법. <br>주성분분석과 비슷하지만, 대응분석은 범주형 데이터를 분석하는 방법이다.


- MCA(Multiple Correspondence Analysis) - 다중대응분석: 세 개 이상의 범주형 변수 간의 관계를 탐색하려면 다중 대응 분석을 사용합니다. 다중 대응 분석에서는 지시 변수의 행렬에 대해 단순 대응 분석을 수행합니다. 이 때 행렬의 각 열은 범주형 변수의 한 수준에 해당합니다. 단순 대응 분석의 이원 분할표를 평가하는 대신 다원 분할표를 1차원으로 축약합니다. 다중 대응 분석 절차에서는 단순 대응 분석에 비해 잠재적으로 더 많은 수의 변수에 대한 정보를 얻을 수 있지만 행과 열의 관계에 대한 정보는 잃을 수도 있습니다.

In [51]:
import pandas as pd
from mca import MCA as MCA
import numpy as np

%cd C:\Users\hanbum\Desktop

C:\Users\hanbum\Desktop

In [40]:
data = pd.read_csv('burgundies.csv', skiprows=1, index_col=0, header=0)

data

,oak_type,fruity_1,fruity_1.1,woody_1,woody_1.1,woody_1.2,coffee,coffee.1,fruity_2,fruity_2.1,...,vanillin.1,vanillin.2,woody_2,woody_2.1,fruity_3,fruity_3.1,buttery,buttery.1,woody_3,woody_3.1
Wine,,,,,,,,,,,,,,,,,,,,,
W1,1,1,0,0,0,1,0,1,1,0,...,0,1,0,1,0,1,0,1,0,1
W2,2,0,1,0,1,0,1,0,0,1,...,1,0,1,0,0,1,1,0,1,0
W3,2,0,1,1,0,0,1,0,0,1,...,0,0,1,0,0,1,1,0,1,0
W4,2,0,1,1,0,0,1,0,0,1,...,0,0,1,0,1,0,1,0,1,0
W5,1,1,0,0,0,1,0,1,1,0,...,0,1,0,1,1,0,0,1,0,1
W6,1,1,0,0,1,0,0,1,1,0,...,1,0,0,1,1,0,0,1,0,1

In [41]:
X = data.drop('oak_type', axis=1)
X

,fruity_1,fruity_1.1,woody_1,woody_1.1,woody_1.2,coffee,coffee.1,fruity_2,fruity_2.1,roasted,...,vanillin.1,vanillin.2,woody_2,woody_2.1,fruity_3,fruity_3.1,buttery,buttery.1,woody_3,woody_3.1
Wine,,,,,,,,,,,,,,,,,,,,,
W1,1,0,0,0,1,0,1,1,0,0,...,0,1,0,1,0,1,0,1,0,1
W2,0,1,0,1,0,1,0,0,1,1,...,1,0,1,0,0,1,1,0,1,0
W3,0,1,1,0,0,1,0,0,1,1,...,0,0,1,0,0,1,1,0,1,0
W4,0,1,1,0,0,1,0,0,1,1,...,0,0,1,0,1,0,1,0,1,0
W5,1,0,0,0,1,0,1,1,0,0,...,0,1,0,1,1,0,0,1,0,1
W6,1,0,0,1,0,0,1,1,0,0,...,1,0,0,1,1,0,0,1,0,1

In [45]:
j_sup = data.oak_type
i_sup = np.array([0, 1, 0, 1, 0, .5, .5, 1, 0, 1, 0, 0, 1, 0, .5, .5, 1, 0, .5, .5, 0, 1])
ncols = 10

In [55]:
mca_ben = MCA(X, ncols=ncols)
mca_ind = MCA(X, ncols=ncols, benzecri=False)
data = {'Iλ': pd.Series(mca_ind.L),
        'τI': mca_ind.expl_var(greenacre=False, N=4),
        'Zλ': pd.Series(mca_ben.L),
        'τZ': mca_ben.expl_var(greenacre=False, N=4),
        'cλ': pd.Series(mca_ben.L),
        'τc': mca_ind.expl_var(greenacre=True, N=4)}

# 'Indicator Matrix', 'Benzecri Correction', 'Greenacre Correction'
columns = ['Iλ', 'τI', 'Zλ', 'τZ', 'cλ', 'τc']
table2 = pd.DataFrame(data=data, columns=columns).fillna(0)
table2.index += 1
table2.loc['Σ'] = table2.sum()
table2.index.name = 'Factor'

table2

              Iλ        τI        Zλ        τZ        cλ        τc
Factor
1       0.853210  0.711009  0.700402  0.982290  0.700402  0.951889
2       0.200000  0.166667  0.012346  0.017314  0.012346  0.016779
3       0.115114  0.095928  0.000282  0.000395  0.000282  0.000383
4       0.031676  0.026397  0.000000  0.000000  0.000000  0.000000
Σ       1.200000  1.000000  0.713030  1.000000  0.713030  0.969050

In [56]:
data

{'Iλ': 0    0.853210
 1    0.200000
 2    0.115114
 3    0.031676
 dtype: float64, 'Zλ': 0    0.700402
 1    0.012346
 2    0.000282
 dtype: float64, 'cλ': 0    0.700402
 1    0.012346
 2    0.000282
 dtype: float64, 'τI': array([ 0.71100853,  0.16666667,  0.09592798,  0.02639682]), 'τZ': array([  9.82290108e-01,   1.73143959e-02,   3.95495739e-04,
          0.00000000e+00]), 'τc': array([  9.51888689e-01,   1.67785235e-02,   3.83255331e-04,
          0.00000000e+00])}